
:root {
  --green: #006600 ;
  --red: #bb0000;
  --blue: #0F9991;
}
*{
  margin:0;
  line-height: 1.4;
}

html,body{
  position: relative;
  min-height: 100%;
}

.label{
  font-size:13px
}

.text-success{
 color: var(--green) !important
}
.text-danger{
 color: var(--red) !important
}
.text-blue{
 color: var(--blue) !important
}
/* #form{
  margin-top: 3rem
} */

.main-img{  display: block;
  max-width:350px;
  max-height:350px;
  width: auto;
  height: auto;}
.main-title{
  color: var(--green);
  font-size: 32px;
  font-weight:bold;
  padding:1em 0 0.5em 0

}
.main-div{
  padding: 4em 0
}
.main-subtitle{
  font-size: 20px;
  font-weight:400;

}
.circular{
  width:80px; 
  height:80px; 
  border-radius: 0 0 0 90px;
  position: absolute;
  right: 0;
  background-color: var(--red)

}
.banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 3rem 0;
  flex-wrap: wrap;

}
.banner img{
  max-width: 200px;
  max-height:200px;
  width: auto;
  height: auto;
  display: inline;
  margin:0 1em
}
.title{
  color: var(--red);
  text-align: center;
  font-weight: bold;
  margin: 0;
}
.banner p{
  color: var(--green);
  font-weight: bold;
  font-size: 24px;
  margin: 0;
}
.card {
  box-shadow: 0 0 5px #f2f2f2;
  border-radius: 8px !important;
}
.padded-title{
  padding-bottom: 1em;
}

/* OVERRIDES */

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border:  1px solid var(--green) !important;
    outline: 0;
    box-shadow: none !important;
}

.ant-steps-item-custom.ant-steps-item-process .ant-steps-item-icon > .ant-steps-icon, .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon{
color: var(--green) !important
}
.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after {
  background-color:  var(--green) !important;
}
.ant-steps .ant-steps-item:not(.ant-steps-item-active) > .ant-steps-item-container[role='button']:hover .ant-steps-item-title, .ant-steps .ant-steps-item:not(.ant-steps-item-active) > .ant-steps-item-container[role='button']:hover .ant-steps-item-subtitle, .ant-steps .ant-steps-item:not(.ant-steps-item-active) > .ant-steps-item-container[role='button']:hover .ant-steps-item-description , .ant-steps .ant-steps-item:not(.ant-steps-item-active):not(.ant-steps-item-process) > .ant-steps-item-container[role='button']:hover .ant-steps-item-icon .ant-steps-icon {
  color: var(--red) !important;
}
.ant-input-search > .ant-input-group > .ant-input-group-addon .ant-input-search-button {
  border-radius: 0 2px 2px 0;
  background-color:var(--green) !important;
  border-color: var(--green) !important;
}
.ant-input-search .ant-input:hover, .ant-input-search .ant-input:focus {
  border-color: var(--green) !important;
  box-shadow: none !important;
}
.ant-select-focused .ant-select-selector,
.ant-select-selector:focus,
.ant-select-selector:hover,
.ant-select-selector:active,
.ant-select-open .ant-select-selector {
  border-color: var(--green) !important;
  box-shadow: none !important;
}
.ant-btn-primary {
  color: #fff;
  background: var(--green) !important;
  border-color: var(--green) !important;
  box-shadow: none !important;
}
.footer{
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding-right: 15px;
  padding-left: 15px;
}
.anticon {
  vertical-align: 0em !important;
}
.card-body a{
  text-decoration: none;
}
.content {
  min-height: 100vh; 
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 80px; 
 }


/* RESPONSIVE STYLES */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* Main Page */
  .main-img{
    max-width:250px;
    max-height:250px;
    width: auto;
    height: auto;
  }
  .main-div{
    padding: 1em 0;
  }
  .header-image{
    display: flex;
    justify-content: center;

  }
  .main-title{
    font-size: 28px;
  }
  .main-subtitle{
    font-size: 18px;
  }
  .banner{
    display:block;
    padding: .5rem 0 2rem 0;
  }
  .circular{
    width:60px; 
    height:60px; 
  }
  .banner p{
    font-size: 18px;
    padding: 1em 0 0 0;
    text-align:center
  }
  .card-body{
    padding: 1.25rem .5rem !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}
